$font-h-size: 32px;
$font-h-weight: 500;
$font-h-color: #000000;
$primary-color: #34547A;
$main-text-color: #727272;
$bg-color: #EEEFF1;
$main-text-size: 16px;
$main-text-weight: 400;
$font-main: 'Roboto', sans-serif;
 