@use "variables";
@use "mixins";

body {
    background: #ffffff;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: 500;
    font-size: 48px;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 21px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1105px;
    margin: 0 auto;
    padding-top: 79px
}


.header {
    background-color: variables.$bg-color;
}

.header-nav-list {
    display: flex;
    gap: 42px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav-link {
    text-transform: uppercase;
    font-size: variables.$main-text-size;
}

.header-nav-link.active {
    color: variables.$primary-color;
}

.contact-me-button {
    @include mixins.button-style(variables.$primary-color);
    margin-left: 0;
}

.container-start {
   @include mixins.container-style;
}

.section-start {
    background-color: variables.$bg-color;
}

.section-start-text {
    max-width: 541px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    word-break: normal;
    overflow-wrap: break-word;

}

.section-start-text h1 {
    margin: 0;
}

.section-start-text p {
    margin: 0;
    hyphens: none;
}

.section-start-main-text {
    @include mixins.text-style;
    margin: 0;
    word-break: normal;
}

.about {
    @include mixins.container-inner-style;
}

.about-me-header {
    @include mixins.h-style;
}

.about-me-text {
    @include mixins.text-style;
    max-width: 540px;
    margin: 0 auto;
}

.section-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: variables.$primary-color;

}

.list-stats {
    display: flex;
    gap: 80px;
}

.stat {
    max-width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.stat-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.stat-container {
    justify-items: center;
    max-width: 1091px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // gap: 49px;
}

.stats {
  background: variables.$primary-color;
  padding: 100px 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }

  &__item {
    display: flex;
    gap: 20px;
    color: #fff;
  }

  &__value {
    font-size: 21px;
    font-weight: 500;
  }

  &__label {
    font-size: 16px;
  }
}

.skills-photo {
    max-width: 530px;
    flex-shrink: 0;
}

.skills-photo img {
width: 100%;
height: auto;
display: block
}

.skills-container {
    @include mixins.container-style;
}

.skills-header {
    @include mixins.h-style;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    @include mixins.text-style;
    width: 445px;
}

.skills-bar {
  display: flex;
  align-items: center;
  width: 445px;
  height: 4px;
  overflow: hidden;
}

.skills-bar-rest {
    width: 20%;
  height: 100%;
  flex-shrink: 0
}

.skills-bar-fill {
width: 80%;
height: 100%;
flex-shrink: 0;
}


.skills-bar img {
  display: block; 
  width: 100%;
  height: 100%;

}

.skills-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}

.howiwork-section {
    background-color: variables.$bg-color;
    padding-bottom: 100px;
}

.howiwork-text {
    @include mixins.container-inner-style;
}

.howiwork-header {
    @include mixins.h-style;
}

.howiwork-maintext {
    @include mixins.text-style;
}

.video-preview {
    position: relative;
   max-width: 1110px;
   margin: 0 auto;
}

.video-preview img {
  max-width: 100%;
  height: auto;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 80px;
  height: 80px;
}

.container-projects {
   display: flex;
   flex-direction: column;
   gap: 50px;
   padding-top: 28px;
   padding-bottom: 50px;
   margin: 0 auto;
}

.photos-projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.photos-projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.project-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.eye-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eye-overlay img {
  width: 100px; 
  height: auto;
  display: block;
}


.logos-projects {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1110px;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    height: 120px ;
}

.contact-section {
  background-color: variables.$bg-color;
}

.contact-container {
 @include mixins.container-inner-style;
}

.contact-text-header {
    @include mixins.h-style;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-text-main {
  @include mixins.text-style;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-row {
  display: flex;
  gap: 30px;
}

.contact-input {
  flex: 1;
  height: 50px;
  padding: 0 20px;
  border: none;
  font-size: 14px;
}

.contact-textarea {
  height: 175px;
  padding: 20px;
  border: none;
  resize: none;
  font-size: 14px;
}

.contact-button {
 @include mixins.button-style(variables.$primary-color)

}

.footer-logos {
    list-style-type: none;
}

.footer-section {
    background-color: variables.$primary-color;
}

.footer-container {
        display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1105px;
    margin: 0 auto;
    padding: 50px;
}

.footer-logos {
    display: flex;
    gap: 22px;
}

.footer-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: start;
}


footer {
    text-align: center;
}

