
body{
    background-color: #fff;
}

a{
    text-decoration: none;
    color: black;
}

.header{
   display:flex;
    justify-content: space-between;
    padding: 57px;
    align-items: center;
    max-width: 1105px;
    margin: 0 auto;
}

.header-nav-list {
   display:flex;  
   gap: 42px;
   list-style: none;
   padding: 0;
   margin: 0;
}

.header-nav-link{
    text-transform: uppercase;
}
.header-nav-link.active{
    color: #34547A;
}

.logo img {
    height: 40px;
    
}

.start{
   display: flex;
   justify-content: center;
   align-items: center;
}

.about{
    text-align: center;
}

.stats{
    background-color: rgb(179, 179, 226);
}

.stat{
    max-width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.container-stats{
    justify-content: center;
    max-width: 1200px;
    display: grid;
    margin: 0 auto;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

footer{
    text-align: center;
}